<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias alias="user" type="com.redonearth.androidjsp.db.dto.User" />
        <typeAlias alias="test" type="com.redonearth.androidjsp.db.dto.Test" />
    </typeAliases>
<!--    <mappers>-->
<!--        <mapper resource="classpath:mapper/*.xml"/>-->
<!--    </mappers>-->
</configuration>