<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.redonearth.androidjsp.repository.UserMapper">

    <insert id="insertUser">
        INSERT INTO user
        VALUES (#{userID}, #{userPassword}, #{userEmail})
    </insert>

    <select id="selectUserById" resultType="user">
        SELECT * FROM user
        WHERE userID = #{userID}
    </select>

    <select id="selectUserByIdPassword" resultType="user">
        SELECT * FROM user
        WHERE userID = #{userID} AND userPassword = #{userPassword}
    </select>

</mapper>